* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.SearchPage {
  font-family: sans-serif;
  color: white;
  background-color: #273035;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.Navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 2px solid white;
}
.Nav_create {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: flex;
  gap: 1.2rem;
  button {
    padding: 0.5rem 1rem;
  }
}
.textInput {
  padding: 0.5rem 1rem;
  background-color: white;
}
.btn_searchFuncional {
  background-color: #044766;
  &:hover {
    background-color: #088dcb;
  }
}

.btn_create {
  background-color: #044766;
  &:hover {
    background-color: #088dcb;
  }
}
.btn_SignOut {
  background-color: #436221;
  &:hover {
    background-color: #659231;
  }
}
.btn {
  padding: 5px 2px;
}
button {
  font-family: sans-serif;
  font-size: 14px;
  padding: 12px;
  border-radius: 8.62px;
  min-width: 150px;
  color: white;
  cursor: pointer;
  border: none;
  transition: all 500ms;
}

.Search_Blinks_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: auto; /* Agregar desbordamiento vertical */
  max-height: calc(
    100vh - 200px
  ); /* Altura máxima del contenedor para evitar que ocupe toda la página */
  margin: 1rem;
  gap: 1rem;
  width: auto;
  height: auto;
}
