* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Main {
  background-color: #273035;
  display: flex;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
}
.options {
  display: flex;
  gap: 1.2rem;
}
.logo-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.LoginInput {
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 20px;
  outline: none;
}
.success-message {
  color: green;
  margin: 10px 0;
}

.error-message {
  color: red;
  margin: 10px 0;
}
