* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Main {
  background-color: #273035;
  width: 100vw;
  height: 100vh;
}

.success-message {
  color: green;
  margin: 10px 0;
}

.error-message {
  color: red;
  margin: 10px 0;
}


