.ProfileViewer {
  font-family: sans-serif;
  color: white;
  background-color: #273035;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}
.MyProfile {
  width: 100%;
  height: fit-content;
}

.Navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.6rem;
  align-items: center;
  color: white;
  border-bottom: 2px solid white;
}

.yourData {
  background-color: #4e616a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  align-self: center;

  p {
    background-color: #d9d9d9;
    color: #4e616a;
    padding: 0.2rem 2rem;
    border-radius: 25px;
  }
}
.User_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.profile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
}
.profile_buttons {
  display: flex;
  gap: 0.5rem;
}
.yourBlinks {
  display: grid;
  overflow-y: auto; /* Agregar desbordamiento vertical */
  margin: 1rem;
  gap: 1rem;
  width: auto;
  height: auto;
}

@media (min-width: 1024px) {
  .yourBlinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    overflow: hidden;
  }
  .display {
    display: none;
  }
  .profile_buttons {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }
  .profile {
    flex-direction: row-reverse;
    gap: 2rem;
  }
  .yourData {
    align-self: first baseline;
    max-width: 400px;
  }
}
